= render "header"

.index-main

  .index-main__btns
    .previous-btn-box
      .btn-text
        前月へ
      =link_to root_path, class: "btn-icon" do
        <i class="fas fa-arrow-left btn-icon"></i>
    .next-btn-box
      .btn-text
        今月へ
      =link_to root_path, class: "btn-icon" do
        <i class="fas fa-arrow-right btn-icon"></i>

  .index-main__graphs
    .sum-graph
      月使用額合計のグラフ
    .average-graph
      １日ごとの使用グラフ

  .index-main__displays
    - @product.each do |product|
      .display-part
        .display-part__date
          = product.created_at.strftime('%m月%d日')
        .display-part__name
          = product.name
        .display-part__price
          = product.price 
          円(税込)
        = link_to "削除", product_path(product.id), class: "display-part__delete-btn", method: :delete
  .index-main__scroll
    <i class="fas fa-angle-left btn-icon"></i>
    .page-count
      １
    <i class="fas fa-angle-right btn-icon"></i>

= render "footer"