= render "header"

.new-main
  .form-box
    = form_with model: @product do |product|
      = product.text_field :name, class: "form-box__name", placeholder: "商品名"
      = product.number_field :price, class: "form-box__price", placeholder: "値段（税込み）"
      = product.submit "追加する", class: "form-box__add-btn"

= render "footer"